{% extends "posts/base.html" %}
{% block content %}
    <h1> Live Data </h1>
    <h3> Location </h3>
    <p> Region: </p>
    <p> Country: </p>
    <p> Latitude: </p>
    <p> Longitude: </p>
    <p> Timezone ID: </p>
    <p> Local Time: </p>
    <div>
        <h3> Current Statistics </h3>
        <p> Temperature (C): </p>
        <p> Pressure (in): </p>
        <p> Pressure (mm): </p>
        <p> Humidity: </p>
        <p> Feels Like: </p>
        <p> UV Index: </p>
        <div>
            <h3> Air Quality </h3>
            <p> CO: </p>
            <p> NO2: </p>
            <p> O3: </p>
            <p> SO2: </p>
        </div>
    </div>
{% endblock content %}
