{% extends "posts/base.html" %}
{% block content %}
    <h1> Live Data </h1>
    <h3> Current Office Space Statistics </h3>
    <p style=";font-size:24px;">Temperature (degrees C): 21</p>
    <p style=";font-size:24px;">Light Level: 1</p>
    <br/>
    <div>
        <h3 style=";font-size:24px;">Current Weather Data</h3>
        <p style=";font-size:24px;">Temperature (degrees C): 3</p>
        <p style=";font-size:24px;">Humidity (%): 73 </p>
    </div>
    <br/>
    <div>
        <h3 style=";font-size:24px;">Sensor Health</h3>
        <p style=";font-size:24px;">Sensor 1:  <p style="color:#038c27;font-size:22px;text-outline: 2px 2px #ff0000;">Working</p></p>
        <p style=";font-size:24px;">Sensor 2:  <p style="color:#038c27;font-size:22px;text-outline: 2px 2px #ff0000;">Working</p></p>
        <p style=";font-size:24px;">Sensor 3:  <p style="color:#038c27;font-size:22px;text-outline: 2px 2px #ff0000;">Working</p></p>
    </div>
{% endblock content %}
