{% extends "posts/base.html" %}
{% block content %}
    <h1> Live Data </h1>
    <h3> Current Office Space Statistics </h3>
    <p> Temperature: {{sensor_data}} </p>
    <p> Light Level: 1 </p>
    <p> Motion Detected: No Motion Detected </p>
<!--
    <div>
        <h3> Current Statistics </h3>
        <p> Temperature (C): </p>
        <p> Pressure (in): </p>
        <p> Pressure (mm): </p>
        <p> Humidity: </p>
        <p> Feels Like: </p>
        <p> UV Index: </p>
        <div>
            <h3> Air Quality </h3>
            <p> CO: </p>
            <p> NO2: </p>
            <p> O3: </p>
            <p> SO2: </p>
        </div>
    </div> !-->
{% endblock content %}
