{% extends "posts/base.html" %}
{% block content %}
    <h1> Recommendation </h1>
    <h3> Most Recent Recommendation: </h3>
    <p> {{output1}} </p>
    <h3> Past Recommendations: </h3>
    <p> {{output2}} </p>
    <p> {{output3}} </p>
    <p> {{output4}} </p>
    <p> {{output5}} </p>
<!--
    <div>
        <h3> Current Statistics </h3>
        <p> Temperature (C): </p>
        <p> Pressure (in): </p>
        <p> Pressure (mm): </p>
        <p> Humidity: </p>
        <p> Feels Like: </p>
        <p> UV Index: </p>
        <div>
            <h3> Air Quality </h3>
            <p> CO: </p>
            <p> NO2: </p>
            <p> O3: </p>
            <p> SO2: </p>
        </div>
    </div> !-->
{% endblock content %}
